body {
    background-color: rgba(209, 141, 44, 1);
}

main {
    background-image: url("../pics/kpytobredare.png");
    width: 1024px;
    height: 824px;
    margin-left: auto;
    margin-right: auto;
}

#filler1 {
    position: relative;
    display: block;
    height: 270px;
    width: 200px;

}

#msgSection {
    position: absolute;
    display: inline-block;
    height: 410px;
    width: 425px;
    border: outset rgba(125, 87, 46, 0.3) 5px;
    left: 250px;
    bottom: 55px;
    
    background-color: rgba(209, 141, 44, 0.3);
    overflow: auto;
    
}

#newTextSection {
    position: absolute;
    display: inline-block;

    bottom: 250px;
    left: 800px;
}

#textarea {
    height: 150px;
    width: 350px;
    display: block;
    background-color: rgba(209, 141, 44, 0.7);
    border: outset rgba(125, 87, 46, 0.3) 5px;
    color: rgba(42, 22, 0, 0.9);
}


/*http://css-tricks.com/snippets/css/style-placeholder-text/*/
::-webkit-input-placeholder {
   color: rgba(42, 22, 0, 0.9);;
}
:-moz-placeholder { /* Firefox 18- */
   color: rgba(42, 22, 0, 0.9);;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(42, 22, 0, 0.9);;  
}
:-ms-input-placeholder {  
   color: rgba(42, 22, 0, 0.9);;  
}


.time {
    text-align: right;
    font-size: 10px;
}


#timeButton {
	background: url('../pics/222.png') no-repeat -1px -17px;
	opacity: 0.7;
	width: 13px;
	height: 13px;
    float: right;
    margin-right: 1px;
}

#deleteButton {
	background: url('../pics/222.png') no-repeat -2px -2px;
	width: 13px;
	height: 13px;
	float:right;
}


.messageDiv {
    width: 350px;
    height: auto;
    background-color: rgba(42, 22, 0, 0.2);
    position: relative;
    right: -30px;
    top: 10px;
    font-family: "Arial black";
    padding: 10px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.75);
}

/*http://stackoverflow.com/questions/7725652/css-scrollbar-style-cross-browser*/
::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

#buttons {
    padding: 3px;
    padding-bottom: 1px;
    border-right: solid #0004FF 2px;
    border-top: solid #0004FF 2px;
    border-bottom: solid #0004FF 2px;
    float: right;
    margin-top: 5px;
}

#messageCounter {
    text-align: right;
}

/*antal meddelanden: x*/
#messageCount {
    color: rgba(0, 0, 0, 0.75);
    font-family: "Arial Black";
    background: rgba(0, 0, 0, 0.1);
}


.msgText {
    padding-left: 5px;
}

#textarea {

}

.buttonDiv{
    position: relative;
    display: inline-block;

}

.smallText {
    font-size: 12px;
    font-family: serif;
    text-align: right;
}

