@import url('//fonts.googleapis.com/css?family=Roboto:300,500');


html, body {
  height: 100%;
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  
}

body {
  background-image: url("../pics/backg-material.jpg");
  background-size: 100%;
  overflow: hidden;
}

#main {
  min-height: 100%;
  height: auto;
  height: 100%;
  margin-bottom: -60px; 
}

#main:after {
  display: block;
}

#wrap {
  height: 100%;
  width: 100%;
}

footer, #main:after {
  height: 60px; 
}

footer {
  position: fixed; 
  bottom: 0;
  width: 100%;
  clear: both;
  /*background-color: rgba(0, 0, 0, 0.55);*/
  background-color: black;
  opacity: 0.55;
}

#iconImageViewer {
    background-image: url("../pics/imageviewerwhite.png");
    background-repeat: no-repeat;
}

.menuIcon {
    height: 50px;
    width: 50px;
    
    margin: 10px;
    
}
