html, body {
  height: 100%;
}

main {
  min-height: 100%;
  margin-bottom: -60px; 
  
}

main:after {
  display: block;
}

footer, main:after {
  height: 60px; 
}

footer {
  background: orange;
}

#iconImageViewer {
    
}

.menuIcon {
    height: 50px;
    width: 50px;
    
    margin: 10px;
    
    background-color: green;
}

.newWindow {
    height: 370px;
    width: 280px;
    
    
    
    border: solid black 1px;
    
}